<div class="col-md-6 my-4 mx-auto">
    <div class="alert alert-success">
        <h2>Congratolations!</h2>
        <p>You have successfully applied to the company (<%= company.name%>)</p>
    </div>
</div>