<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting Company System</title>
</head>
<body>
    <ul>
        <li>
            <a href="/user/login">Login</a>
        </li>
        <li>
            <a href="/user/register">Register</a>
        </li>
        <% if(user === 'undefined') { %>
            <li>
                <a href="/user/logout">Logout</a>
            </li>
        <% } %>
    </ul>
    <%-body%>
</body>
</html>