<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounting Company System</title>
</head>
<body>
    <ul>
        <% if(user) { %>
            <li>
                <a href="/user/logout">Logout</a>
            </li>
            <li>
                Hello! <%= user.email %>
            </li>
            <ul>
                <li>
                    <a href="/company/add">Create company</a>
                </li>
                <li>
                    <a href="/company/all">All companies</a>
                </li>
                <li>
                    <a href="/company/my">My companies</a>
                </li>
            </ul>
        <% } %>
        <% if(!user) { %>
            <li>
                <a href="/user/login">Login</a>
            </li>
            <li>
                <a href="/user/register">Register</a>
            </li>
        <% } %>
    </ul>
    <%-body%>
</body>
</html>