<% if(error) { %>
    <p><%= error %></p>
<% } %>
<form action="/user/login" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" autofocus name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>