<form action="/user/register" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" autofocus name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="confirmPassword">Confirm password</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <button>Register</button>
</form>