<form action="/user/register" method="POST">
    <input type="text" autofocus name="email">
    <input type="password" name="password">
    <input type="password" name="confirmPassword">
    <button>Register</button>
</form>