<% if(error) { %>
    <p><%= error %></p>
<% } %>
<h2>Create product</h2>
<form action="/product/add" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" autofocus name="name">
    <label for="imageUrl">Image</label>
    <input type="text" id="imageUrl" name="imageUrl">
    <label for="bestDays">Best days in number</label>
    <input type="number" id="bestDays" name="bestDays">
    <label for="companyId">Select company</label>
    <select name="companyId" id="companyId">
        <% companies.forEach(company => { %>
            <option value="<%=company._id%>"><%= company.name%></option>    
        <% }) %>
    </select>
    <button type="submit">Create product</button>
</form>