<div class="d-flex justify-content-md-between align-items-center">
    <h2>All products - <%=company.name%></h2>
    <% if(isMyCompany) { %>
    <a class="btn btn-primary" href="/product/add">Add product</a>
    <% } %>
</div>
<div class="row">
    <% products.forEach(product => { %>
    <div class="col-md-6">
        <div class="card my-2">
            <a class="p-2" href="/product/<%=product._id%>"><%= product.name %></a>
            <img class="w-100" src="<%= product.imageUrl %>">
        </div>
    </div>
    <% }) %>
    <% if(products.length === 0) { %>
        <p>No products in this company</p>
    <% } %>
</div>