<h2>All products - <%=company.name%></h2>
<ul>
    <% products.forEach(product => { %>
        <li>
            <a href="/product/<%=product._id%>"><%= product.name %></a>
            <img src="<%= product.imageUrl %>">
        </li>
    <% }) %>
</ul>