<h2 class="text-center">All companies</h2>
<div class="d-flex justify-content-center">
    <% companies.forEach(company => { %>
    <div class="col-md-4 card p-0 m-2">
        <img class="w-100" src="<%=company.imageUrl%>">
        <a class="m-2 btn btn-link" href="/company/<%=company._id%>"><%= company.name %></a>
    </div>
    <% }) %>
</div>