<h2>My companies</h2>
<ul>
    <% companies.forEach(company => { %>
        <li>
            <a href="/company/<%=company._id%>"><%= company.name %></a>
            <% if(user.claim === 'boss') { %>
                <a href="/company/candidations/<%=company._id%>">Show candidations</a>
            <% } %>
        </li>
    <% }) %>
</ul>