<div class="col-md-6 mx-auto">
    <form action="/shop/<%=shop._id%>?_method=DELETE" method="POST">
        <div class="form-group">
            <label for="address">Address</label>
            <input class="form-control" type="text" id="address" autofocus value="<%=shop.address%>" name="address" readonly>
        </div>
        <button class="btn btn-danger" type="submit">Dismiss shop</button>
    </form>
</div>