<form action="/shop/edit/<%=shop._id%>" method="POST">
    <label for="address">Address</label>
    <input type="text" id="address" autofocus value="<%=shop.address%>" name="address">
    <button type="submit">Edit shop</button>
</form>